@model UpdateCategoryViewModel

<h1>Update  Category ! </h1>
<hr />

<form asp-action="Update">

    <input  asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-control">Catgeory Name</label>
                <input required asp-for="Name" class="form-control" />
            </div>
        </div>
    </div>
   
     <input type="submit" class="btn btn-primary" value="Save" />
     <a asp-controller="Category" asp-action="Index" class="btn btn-danger">Back</a>
</form>


@section Scripts {
    @*<script>

    </script>*@
}
